* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

#corpotodo {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    max-width: 100%;
    max-height: 920px;

}

#menu {
    width: 100%;
    background-color: grey;
    border-radius: 1px;
    position: absolute;

}

#menu ul {
    list-style-type: none; /* Remover os marcadores da lista */
    text-align: center; /* Centralizar o texto */
}

#menu ul li {
    display: inline-block; /* Exibir os itens de lista em linha */
}

#menu ul li a {
    display: block; /* Transformar o link em um bloco */
    padding: 10px; /* Adicionar preenchimento ao redor do link */
    text-decoration: none; /* Remover sublinhado padrão */
    font-size: 20px;
    color: black;
}


#calc {
    width: 400px;
    padding: .5em;
    background-color: #bebebf;
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;


}

#calc h3 {
    font-size: .8em;
    font-weight: 300;
    color: black;
}

#operacao {
    text-align: right;

}

#previous-operacao {
    color: black;
    padding: 0.2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
}

#operacao-atual {
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: .2em;
    overflow-wrap: break-word;
}

#botoes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    color: black;

}

#botoes button {
    border: 1px solid transparent;
    border-radius: 25px 25px 25px 25px;
    height: 4em;
    font-size: 1.2em;
    background-color: #2a2438;
    cursor: pointer;
    color: white;
}

#botoes .num-bt {
    background-color: whitesmoke;
    color: black;
}

#botoes button:hover {
    background-color: #777a80;
    border-color: #999;
}

#botoes #igual-bt {
    grid-column: span 1;
    background-color: whitesmoke;
    color: black;
}

#botoes #igual-bt:hover {
    background-color: #31343a;
}
.raiz{
    
    font-size: 24px;
    font-weight: bold;
    
}
